services:
  backend:
    build: ./Backend
    ports:
      - "8000:8000"
    environment:
      - MONGO_URI=mongodb://mongo:27017/task_manager
      - REDIS_HOST=redis
      - REDIS_PORT=6379
      - JWT_SECRET=56f7d62b41139680837e5d598100bb778cbbdd727de1ea94f76c6cf9b8e9293a
      - JWT_ISSUER=task_manager
    depends_on:
      - mongo
      - redis

  mongo:
    image: mongo:7
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db

  redis:
    image: redis:7-alpine
    ports:
      - "6379:6379"
    volumes:
      - redis-data:/data

volumes:
  mongo-data:
  redis-data:
